{%extends 'base.html'%}

{% block content %}

<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="blog-img">
        <img src="{{image.image.url}}" class="img-responsive" alt="">
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="blog-caption">
        <h4>{{image.name}}</h4>
        <div class="blog-by">
          <p>{{image.description}}</p>
        </div>
      </div>
    </div>
  </div>



{% endblock %}