{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 p-1">
            <h3 class="text-light">Locations</h3>
            <hr>
            <div class="">
                {% for location in locations %}
                <a href="/location/{{location.name}}" class="mr-1 badge badge-info">#{{ location.name }} </a>
                {%endfor%}
            </div>
        </div>
        <div class="col-md-7">
            <h3 class="text-light">Gallery</h3>
            <hr>
            <div class="row">
                {% for image in images %}
                <div class="col-3 m-md-2">
                    <div class="card">
                        <a href="{% url 'details' image.pk %}"><img class="card-img-top" src="{{image.image.url}}"
                                alt="Card image cap"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2 p-1">
            <h3 class="text-light">Categories</h3>
            <hr>
            <div class="card p-1">
                {% for location in category %}
                <p class="p-1 text-muted">{{ location.name }} </p>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %}